
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.ttf');
}
.text {
    -fx-font-family: "Roboto";
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.noto-sans-thai {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.bg-colour{
    -fx-background-color: #e2e8f0;
}
.input_box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
#anchorPane {
    -fx-background-position: fixed;
}

.dragicon {
    -fx-background-radius: 10;
}

.cubic-icon {
    -fx-fill:
            rgba(80.0, 80.0, 80.0, 0.0);

    -fx-stroke: black;
}

.node-overlay {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color:
            linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);

}

.right-link-handle:hover {
    -fx-background-radius: 0 0 10 0;
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
    -fx-background-radius: 0 0 0 10;
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}

.icon-blue {
    -fx-background-color: blue;
}

.icon-red {
    -fx-background-color: red;
}

.icon-green {
    -fx-background-color: green;
}

.icon-black {
    -fx-background-color: black;
}

.icon-grey {
    -fx-background-color: grey;
}

.icon-yellow {
    -fx-background-color: yellow;
}

.icon-purple {
    -fx-background-color: purple;
}
.title-plane{
    -fx-border-width: 2px;
    -fx-border-color: #00934C;
    -fx-border-style: solid;
}
.new-button{
    -fx-background-color: #FFCCA7;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.open-button{
    -fx-background-color: #D09E72;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.select-button{
    -fx-background-color: #16A34A;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.confirm-button{
    -fx-background-color: #006ADC;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
